@gray-base:              #000;
@gray-darker:            lighten(@gray-base, 13.5%); // #222
@gray-dark:              lighten(@gray-base, 20%);   // #333
@gray:                   lighten(@gray-base, 33.5%); // #555
@gray-light:             lighten(@gray-base, 46.7%); // #777
@gray-lighter:           lighten(@gray-base, 93.5%); // #eee
@white :                 #ffffff;
@sidenav :               #252528;
@menu-hover:             rgba(255 , 255 , 255 , .2);
@negro:					 #000000;

@brand-primary:         #304FFE;
@brand-success:         #4CAF50;
@brand-info:            #5bc0de;
@brand-warning:         #f0ad4e;
@brand-danger:          #d9534f;

@import url('https://fonts.googleapis.com/css?family=Rubik');
body{
	background: #EEEEEE;
}
.main-view {
	margin-left: 250px;
	position: absolute;
	top: 50px;
	right: 0;
	min-height: 100%;
	padding-bottom: 50px;
	left: 0;
	background: #EEEEEE;
	font-family: 'Rubik', sans-serif !important;
}
section{
	overflow:hidden;
}
.navbar-inverse{
	background-color:fade(@sidenav, 95%);
	border:none;
}
.navbar-brand{
	padding-top:20px;
	padding-bottom:20px;
	height:60px;
}
.navbar-toggle{
	padding: 14px 10px;
}
.nav.navbar-nav.navbar-right>li>a{
	padding-top:20px;
	padding-bottom:20px;
}
.active-login{
	background: @brand-primary;
	color:@white !important;
	&:hover{
		background: @brand-primary !important;
		color:@white !important;
	}
}
.usuario{
	border-bottom: solid 1px @brand-success !important;
	text-align:center;
	display:none;
	img{
		width:100px;
		height:100px;
		border-radius: 50%;
		display:block;
		margin:0 auto;
		border:3px solid @brand-success;
  	}
	h3{
		margin-top:5px;
		font-size:.7em;
		text-align:center;
		color:@white;
	}
}
.Cursor{
	cursor:pointer;
}
.color-negro{
	color:@negro;
}
.salir{
	font-size:18px;
	.fa{
		padding-left:10px;
		padding-right:10px;
		color:@brand-success;
	}
}
.panel{
	transform:scale(0);
	transition:all .3s;
	&:hover{
		transition:all 0.3s;
		box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
	}
}
.panelAnimate{
	transform:scale(1);
}
.page-title{
	background:@brand-success;
	margin-bottom:10px;
	transform:translateY(-59px);
	transition:all .3s;
	color:@white;
	.pull-right{
		margin-right:15px;
		h1{
			margin-top:10px;
			font-family: 'Rubik', sans-serif;
			font-size:2.1em;
		}
	}
}
.pageAnimate{
	transform:translateY(0px)!important;

}
.modal-content{
	border:solid 1px @brand-success;
	.modal-header{
		background: @brand-success;
		color:@white;
	}
}
.panel{
	border:solid 1px @brand-success;
	.panel-heading{
		background: @brand-success;
		color:@white;
		letter-spacing: 1px;
		padding-top:15px ;
		padding-bottom:15px;
	}
}
.container-fluid{
	padding-left: 0px;
	padding-right: 0px;
}
.jumbotron {
	border-radius: 0px !important;
	margin-bottom: 0;
	font-family: 'Rubik', sans-serif !important;
}

.jumbotron p{
	font-size: 15px;
}

.jumbotron-blue{
	background: @brand-primary;
	color: @white;
	
}
.primer{
	margin-top:60px !important;

}
.jumbotron-white{
	background: @white;
}

.btn-especial , .btn-especial:active{
	background: none;
	border-color:  @white;
	&:hover{
		background: rgba(255,255,255,0.2);
		border-color:  @white;
	}
}

.color-withe{
	color: @white !important;
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}

.titulos{
	margin-top: 10px;
	margin-bottom: 60px;
}
*,
*::after,
*::before {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
}
/* Icomoon.com */

.gn-menu-main,
.gn-menu-main ul {
		margin: 0;
		padding: 0;
		background: @sidenav;
		color: @brand-success;
		list-style: none;
		text-transform: none;
		font-weight: 300;
		font-family: 'Lato', Arial, sans-serif;
		line-height: 50px;
}

.gn-menu-main {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 50px;
		font-size: 13px;
		z-index:1;
}

.gn-menu-main a {
		display: block;
		height: 100%;
		color: @white;
		text-decoration: none;
		cursor: pointer;
}
.precarga{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;

	text-align: center;

	display: flex;
	flex-direction: column;
	justify-content: center;

}
.gn-trigger>a{
	color:@brand-success;
}
.gn-scroller i{
	color:@brand-success;
	margin-right:10px;
}
.no-touch .gn-menu-main a:hover,
.no-touch .gn-menu li.gn-search-item:hover,
.no-touch .gn-menu li.gn-search-item:hover a {
		background: #5f6f81;
		color: white;
}

.gn-menu-main > li {
		display: block;
		float: left;
		height: 100%;
		border-right: 1px solid @white;
		text-align: center;
}

/* icon-only trigger (menu item) */

.gn-menu-main li.gn-trigger {
		position: relative;
		width: 50px;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
}

.gn-menu-main > li:last-child {
		float: right;
		border-right: none;
		border-left: 1px solid @white;
		font-family: 'Rubik', sans-serif;
}

.gn-menu-main > li > a {
		padding: 0 20px;
		text-transform: uppercase;
		font-weight: bold;

}

.gn-menu-main:after {
		display: table;
		clear: both;
		content: "";
}

.gn-menu-wrapper {
		position: fixed;
		top: 50px;
		bottom: 0;
		left: 0;
		overflow: hidden;
		width: 50px;
		background: white;
		-webkit-transform: translateX(-50px);
		-moz-transform: translateX(-50px);
		transform: translateX(-50px);
		-webkit-transition: -webkit-transform 0.3s, width 0.3s;
		-moz-transition: -moz-transform 0.3s, width 0.3s;
		transition: transform 0.3s, width 0.3s;
}

.gn-scroller {
		position: absolute;
		overflow-y: scroll;
		overflow-x:hidden;
		width: 250px;
		height: 100%;
		background: @sidenav;
		&::-webkit-scrollbar {
		    width: 10px;
				}	 
		&::-webkit-scrollbar-track {
			box-shadow: # 000000;
			border-radius: 10px;
		}
		&::-webkit-scrollbar-track-piece {
			background-color: # 000000;
		}
		&::-webkit-scrollbar-thumb {
			border-radius: 10px;
			background: @brand-success;
			box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
}

.activate{
	border-bottom: 3px solid @brand-success !important;
	a:after{
		position:absolute !important;
		content:'' !important;
		top:0 !important;
		bottom:0 !important;
		left: 0px !important;
		width:3px !important;
		background:@brand-success !important;
		transition:all 0.2s !important;
	}
		
}
.gn-menu li{
	position:relative;
	border-bottom: 3px solid @white;
	text-align: left;
	font-size: 18px;
	font-family: 'Rubik', sans-serif;
	letter-spacing: 1px;
		
		
}
.gn-menu li:hover{
	border-bottom: 3px solid @brand-success;
	a{
		color:@white;
	}
	i{
		color:@white;
	}
	:after{
		left:0;
	}
}

/* hide placeholder when active in Chrome */

.fa-bars:before{
	position:absolute;
	top:0;
	left:0;
	padding:10px;
	font-size: 30px;
}
.gn-menu i{
	font-size: 20px;
	padding:15px;
}

/* if an icon anchor has a span, hide the span */

/* styles for opening menu */

.gn-menu-wrapper.gn-open-all,
.gn-menu-wrapper.gn-open-part {
		-webkit-transform: translateX(0px);
		-moz-transform: translateX(0px);
		transform: translateX(0px);
}

.gn-menu-wrapper.gn-open-all {
		width: 250px
}

.gn-menu-wrapper.gn-open-all .gn-submenu li {
		height: 60px
}

@media screen and (max-width: 422px) { 
	.gn-menu-wrapper.gn-open-all {
			-webkit-transform: translateX(0px);
			-moz-transform: translateX(0px);
			transform: translateX(0px);
			width: 100%;
	}

	.gn-menu-wrapper.gn-open-all .gn-scroller {
			width: 100%
	}
}