<div>
	<form name="RegisterForm" novalidate>
		<div class="form-group">
			<label for="Nombre">Nombre</label>
			<input type="text" class="form-control" id="Nombre" placeholder="Cuava Antigua" required>
		</div>
		<div class="form-group">
			<label for="Escenario">Escenario</label>
			<select id="Escenario" class="form-control" required>
			</select>
		</div>
		<button class="btn btn-primary" type="submit" ng-disabled="RegisterForm.$invalid">Registrar Actividad</button>
	</form>
</div>

<div>
	Espacio Recervado para la tabla de escenarios
</div>
