<cargando ng-show="cargando"></cargando>
<div ng-hide="cargando">
<div class="page-title clearfix {{pageAnimate}}">
	<div class="pull-right">
		<h1>Gestion de Empresas</h1>
	</div>
</div>
<div class="col-sm-12">
	<div class="panel {{panelAnimate}}">
		<div class="panel-heading">
			<h3 class="panel-title">{{PanelTitulo}}</h3>
		</div>
		<div class="panel-body" >
			<form name="RegisterForm" novalidate ng-submit="Registrar()">
				<div class="form-group col-sm-6">
					<label for="Documento">NIT</label>
					<input type="text" class="form-control" id="Documento" placeholder="129753845-1" required ng-model="Register.id" ng-model="Register.id" ng-disabled="BotonTitulo == 'Guardar Cambios'">
				</div>
				<div class="form-group col-sm-6">
					<label for="Nombres">Nombres</label>
					<input type="text" class="form-control" id="Nombres" placeholder="Mundo Aventura" required ng-model="Register.nombre">
				</div>
				<div class="form-group col-sm-6">
					<label for="Direccion">Dirección</label>
					<input type="text" class="form-control" id="Direccion" placeholder="Calle # 6b 12 -32" required ng-model="Register.direccion">
				</div>
				<div class="form-group col-sm-6">
					<label for="Telefono">Telefono</label>
					<input type="text" class="form-control" id="Telefono" placeholder="3136452345" required ng-model="Register.telefono">
				</div>
				<div class="form-group col-sm-6">
					<label for="Departamento">Departamento</label>
					<select id="Departamento" class="form-control" required ng-model="Register.id_departamento">
					<option ng-repeat="departamento in departamentos" value="{{departamento.id}}">{{departamento.nombre}}</option>
					</select>
				</div>
				<div class="form-group col-sm-6">
					<label for="Ciudad">Ciudad</label>
					<select id="Ciudad" class="form-control" required ng-model="Register.ciudad">
						<option ng-repeat="ciudad in ciudades" ng-if="ciudad.id_departamento == Register.id_departamento " value="{{ciudad.id}}">{{ciudad.nombre}}</option>
					</select>
				</div>
				<div class="col-xs-12">	
					<button class="btn btn-success" type="submit" ng-disabled="RegisterForm.$invalid">{{BotonTitulo}}</button>
					<button class="btn btn-danger" type="button" ng-show="BotonTitulo == 'Guardar Cambios'" ng-click="CancelarEditar()">Cancelar</button>
				</div>
			</form>
		</div>
	</div>
</div>
<div  class="col-sm-12">
	<div class="panel {{panelAnimate}}">
		<div class="panel-heading">
			<h3 class="panel-title">Lista de Actividades</h3>
		</div>
		<div class="panel-body" >
			<div class="gridStyle grid" ui-grid="gridOptions" ui-grid-pagination></div>
		</div>			
	</div>
</div>
</div>