<cargando ng-show="cargando"></cargando>
<div ng-hide="cargando">
<div class="page-title clearfix {{pageAnimate}}">
	<div class="pull-right">
		<h1>Gestion de perfil</h1>
	</div>
</div>
<div class="col-sm-12">
	<div class="panel {{panelAnimate}}">
		<div class="panel-heading">
			<h3 class="panel-title">Perfil</h3>
		</div>
		<div class="panel-body" >
			<form name="RegisterForm" novalidate ng-submit="Registrar()">
				<div class="form-group col-sm-6">
					<label for="imagen">Seleccione imagen</label>
					<div class="input__row uploader form-group">
					  <div id="inputval" class="input-value">    </div>
					  <label for="fileInput"><i class="fa fa-upload"></i></label>
					  <input id="fileInput" type="file" accept="image/*">
					</div>
					<div class="cropArea">
				    	<img-crop image="myImage" result-image="myCroppedImage" on-load-done="cambiar(1)" on-change="cambiar(2)"></img-crop>
					</div>
				</div>
				<div class="form-group col-sm-6">
					<label for="TipoDocumento">Tipo de Documento *</label>
					<select name="TipoDocumento" id="TipoDocumento" ng-disabled="true" ng-model="Usuario.tipo_doc" class="form-control color-negro" required>
						<option value="0">Nit</option>
						<option value="1">Cedula de Ciudadania</option>
						<option value="2">Cedula de Extranjeria</option>
						<option value="3">Pasaporte</option>

					</select>
				</div>
				<div class="form-group col-sm-6">
					<label for="Documento">Documento *</label>
					<input type="text" ng-model="Usuario.id" ng-disabled="true" name="Documento" class="form-control color-negro" id="Documento" placeholder="Ingrese el Documento del Usuario a registrar" required ng-disabled="panel_title_form == 'Editar Usuario'">
				</div>
				<div class="form-group col-sm-6">
					<label for="Nombres">Nombres *</label>
					<input type="text" class="form-control" id="Nombres" placeholder="Ingrese los nombres" required ng-model="Usuario.nombres">
				</div>
				<div class="form-group col-sm-6">
					<label for="Apellidos">Apellidos *</label>
					<input type="text" class="form-control" id="Apellidos" placeholder="Ingrese los apellidos" required ng-model="Usuario.apellidos">
				</div>
				<div class="form-group col-sm-6">
					<label for="Direccion">Direccion *</label>
					<input type="text" ng-model="Usuario.direccion" class="form-control color-negro" id="Direccion" name="Direccion" placeholder="Ingrese la Direccion del Usuario a resgistrar" required>
				</div>
				<div class="form-group col-sm-6">
					<label for="Telefono">Telefono *</label>
					<input type="number" ng-model="Usuario.telefono" class="form-control color-negro" id="Telefono" name="Telefono" placeholder="Ingrese el Telefono del Usuario a registrar" required>
				</div>
				<div class="form-group col-sm-6">
					<label for="Correo">Correo *</label>
					<input type="email" ng-model="Usuario.correo" class="form-control color-negro" id="Correo" name="Correo" placeholder="Ingrese la Correo del Usuario a resgistrar" required>
				</div>
				<div class="form-group col-sm-12">
					<button class="btn btn-success" type="button" ng-click="ImageUpdate()">Guardar</button>
					<button class="btn btn-danger" type="button">Cancelar</button>
				</div>
			</form>
		</div>
	</div>
</div>
</div>