<div>
	<button class="btn btn-success">Agregar Herramienta</button>
</div>
<div>
	<form name="RegisterForm" novalidate>
		<div class="form-group">
			<label for="Herremienta">Herremienta</label>
			<select id="Herremienta" class="form-control" required>
			</select>
		</div>
		<div class="form-group">
			<label for="Modelo">Modelo</label>
			<input type="text" class="form-control" id="Modelo" placeholder="lo que sea" required>
		</div>
		<div class="form-group">
			<label for="CodigoUnico">Codigo Unico</label>
			<input type="text" class="form-control" id="CodigoUnico" placeholder="35243764" required>
		</div>
		<button class="btn btn-primary" type="submit" ng-disabled="RegisterForm.$invalid">Registrar Empresa</button>
	</form>
</div>

<div>
	Espacio Recervado para la tabla de empresas
</div>
