<cargando ng-show="cargando"></cargando>
<div ng-hide="cargando">
<div class="page-title clearfix {{pageAnimate}}">
	<div class="pull-right">
		<h1>Gestion de Herramientas</h1>
	</div>
</div>
<div class="col-sm-12">
	<div class="panel {{panelAnimate}}">
		<div class="panel-heading">
			<h3 class="panel-title">{{PanelTitulo}}</h3>
		</div>
		<div class="panel-body" >
			<div class="col-xs-12">	
				<button class="btn btn-success" ng-click="AbrirModal()" type="button">Gestionar herramientas</button>
			</div>
			<form name="RegisterForm" novalidate ng-submit="Registrar()">
				<div class="form-group col-sm-6">
					<label for="Herramienta">Herramienta</label>
					<select id="Herramienta" class="form-control" required ng-model="Register.id_herramienta" ng-disabled="BotonTitulo == 'Guardar Cambios'">
					<option ng-repeat="herramienta in herramientas" value="{{herramienta.id}}">{{herramienta.nombre}}</option>
					</select>
				</div>
				<div class="form-group col-sm-6">
					<label for="Modelo">Modelo</label>
					<input type="text" class="form-control" id="Modelo" placeholder="lo que sea" required ng-model="Register.modelo">
				</div>
				<div class="form-group col-sm-6" ng-hide="BotonTitulo == 'Guardar Cambios'">
					<label for="Cantidad">Cantidad</label>
					<input type="number" class="form-control" id="Cantidad" placeholder="15" ng-required="BotonTitulo != 'Guardar Cambios'" ng-model="Register.cantidad">
				</div>
				<div class="col-xs-12">
					<button class="btn btn-success" type="submit" ng-disabled="RegisterForm.$invalid">{{BotonTitulo}}</button>					
					<button class="btn btn-danger" type="button" ng-show="BotonTitulo == 'Guardar Cambios'" ng-click="CancelarEditar()">Cancelar</button>					
				</div>
			</form>
		</div>
	</div>
</div>
<div  class="col-sm-12">
	<div class="panel {{panelAnimate}}">
		<div class="panel-heading">
			<h3 class="panel-title">Lista de Equipos</h3>
		</div>
		<div class="panel-body" >
			<div class="gridStyle grid" ui-grid="gridOptions" ui-grid-pagination ui-grid-auto-resize ui-grid-resize-columns ui-grid-move-columns></div>
		</div>			
	</div>
</div>
<script type="text/ng-template" id="myModalContent.html">
	<cargando ng-show="cargandodos"></cargando>
	<div class="modal-header">
		<h3 class="modal-title">{{PanelTitulo}}</h3>
	</div>
	<div class="modal-body">
		<form name="HerramientaForm" novalidate>
			<div class="form-group">
				<label for="Nombre">Nombre</label>
				<input type="text" class="form-control" id="Nombre" placeholder="Bote" required ng-model="Herramienta.nombre">
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<button type="button" ng-click="RegisterHerramienta()" class="btn btn-success" ng-disabled="HerramientaForm.$invalid">{{BotonTitulo}}</button>
		<button class="btn btn-danger" type="button" ng-click="CancelarEditar()" ng-show="BotonTitulo == 'Guardar Cambios'">Cancelar</button>
		<div class="gridStyle grid" ui-grid="gridDates" ui-grid-pagination></div>		
		<button class="btn btn-danger" type="button" ng-click="cerrar()">Cerrar</button>
	</div>
</script>
</div>