<navegacion-login></navegacion-login>
<div class="jumbotron jumbotron-blue" id="#jumbotron">
	<div class="row">
		<div class="col-md-2">
			<h2 class="color-withe">Proyecto</h2>
			<form>
				<div class="form-group">
					<label class="color-withe">Correo</label>
					<input type="email" class="form-control">
				</div>
				<div class="form-group">
					<label class="color-withe">Contraseña</label>
					<input type="password" class="form-control">
				</div>
				<button type="submit" class="btn btn-block btn-primary btn-especial">INICIAR SESIÓN</button>
			</form>
		</div>
	</div>
</div>

<div id="Mision" class="jumbotron jumbotron-white">
	<div class="row">
		<h2 class="text-center titulos">Mision</h2>
		<div class="col-md-7 col-md-push-1">
			<p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae, tempore ad. Saepe sed, delectus quidem omnis modi, officiis totam quae quisquam in quis fuga similique sit asperiores pariatur, atque aspernatur tempora sequi voluptatem nostrum laboriosam. Quis obcaecati debitis minima eius fugiat tempore, aliquid ipsum autem dolorem, assumenda inventore, nam totam dolor similique. In nostrum corrupti veritatis sapiente voluptates, quod, itaque dicta quisquam enim amet, eos sunt reprehenderit fuga quia temporibus? Eveniet atque labore praesentium impedit ullam consequatur accusantium qui repellendus quis incidunt nesciunt, odit tempore ea soluta doloremque neque aliquam ex aspernatur, in fuga, quos. Ducimus commodi inventore corporis dolores.</p>
			<p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae, tempore ad. Saepe sed, delectus quidem omnis modi, officiis totam quae quisquam in quis fuga similique sit asperiores pariatur, atque aspernatur tempora sequi voluptatem nostrum laboriosam. Quis obcaecati debitis minima eius fugiat tempore, aliquid ipsum autem dolorem, assumenda inventore, nam totam dolor similique. In nostrum corrupti veritatis sapiente voluptates, quod, itaque dicta quisquam enim amet, eos sunt reprehenderit fuga quia temporibus? Eveniet atque labore praesentium impedit ullam consequatur accusantium qui repellendus quis incidunt nesciunt, odit tempore ea soluta doloremque neque aliquam ex aspernatur, in fuga, quos. Ducimus commodi inventore corporis dolores.</p>
			<p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae, tempore ad. Saepe sed, delectus quidem omnis modi, officiis totam quae quisquam in quis fuga similique sit asperiores pariatur, atque aspernatur tempora sequi voluptatem nostrum laboriosam. Quis obcaecati debitis minima eius fugiat tempore, aliquid ipsum autem dolorem, assumenda inventore, nam totam dolor similique. In nostrum corrupti veritatis sapiente voluptates, quod, itaque dicta quisquam enim amet, eos sunt reprehenderit fuga quia temporibus? Eveniet atque labore praesentium impedit ullam consequatur accusantium qui repellendus quis incidunt nesciunt, odit tempore ea soluta doloremque neque aliquam ex aspernatur, in fuga, quos. Ducimus commodi inventore corporis dolores.</p>
		</div>

		<div class="col-md-3 col-md-push-1 thum">
			<img src="http://lorempixel.com/300/500" class="thumnail">
		</div>

	</div>
</div>

<div id="Vision" class="jumbotron jumbotron-blue">
	<div class="row">
		<h2 class="text-center titulos">Vision</h2>
		<div class="col-md-7 col-md-push-1">
			<p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae, tempore ad. Saepe sed, delectus quidem omnis modi, officiis totam quae quisquam in quis fuga similique sit asperiores pariatur, atque aspernatur tempora sequi voluptatem nostrum laboriosam. Quis obcaecati debitis minima eius fugiat tempore, aliquid ipsum autem dolorem, assumenda inventore, nam totam dolor similique. In nostrum corrupti veritatis sapiente voluptates, quod, itaque dicta quisquam enim amet, eos sunt reprehenderit fuga quia temporibus? Eveniet atque labore praesentium impedit ullam consequatur accusantium qui repellendus quis incidunt nesciunt, odit tempore ea soluta doloremque neque aliquam ex aspernatur, in fuga, quos. Ducimus commodi inventore corporis dolores.</p>
			<p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae, tempore ad. Saepe sed, delectus quidem omnis modi, officiis totam quae quisquam in quis fuga similique sit asperiores pariatur, atque aspernatur tempora sequi voluptatem nostrum laboriosam. Quis obcaecati debitis minima eius fugiat tempore, aliquid ipsum autem dolorem, assumenda inventore, nam totam dolor similique. In nostrum corrupti veritatis sapiente voluptates, quod, itaque dicta quisquam enim amet, eos sunt reprehenderit fuga quia temporibus? Eveniet atque labore praesentium impedit ullam consequatur accusantium qui repellendus quis incidunt nesciunt, odit tempore ea soluta doloremque neque aliquam ex aspernatur, in fuga, quos. Ducimus commodi inventore corporis dolores.</p>
			<p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae, tempore ad. Saepe sed, delectus quidem omnis modi, officiis totam quae quisquam in quis fuga similique sit asperiores pariatur, atque aspernatur tempora sequi voluptatem nostrum laboriosam. Quis obcaecati debitis minima eius fugiat tempore, aliquid ipsum autem dolorem, assumenda inventore, nam totam dolor similique. In nostrum corrupti veritatis sapiente voluptates, quod, itaque dicta quisquam enim amet, eos sunt reprehenderit fuga quia temporibus? Eveniet atque labore praesentium impedit ullam consequatur accusantium qui repellendus quis incidunt nesciunt, odit tempore ea soluta doloremque neque aliquam ex aspernatur, in fuga, quos. Ducimus commodi inventore corporis dolores.</p>
		</div>

		<div class="col-md-3 col-md-push-1 thum">
			<img src="http://lorempixel.com/300/500" class="thumnail">
		</div>

	</div>
</div>

<div id="Objetivos" class="jumbotron jumbotron-white">
	<div class="row">
		<h2 class="text-center titulos">Objetivos</h2>
		<br>
		<br>
		<br>
		<div class="col-md-7 col-md-push-1">
			<p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae, tempore ad. Saepe sed, delectus quidem omnis modi, officiis totam quae quisquam in quis fuga similique sit asperiores pariatur, atque aspernatur tempora sequi voluptatem nostrum laboriosam. Quis obcaecati debitis minima eius fugiat tempore, aliquid ipsum autem dolorem, assumenda inventore, nam totam dolor similique. In nostrum corrupti veritatis sapiente voluptates, quod, itaque dicta quisquam enim amet, eos sunt reprehenderit fuga quia temporibus? Eveniet atque labore praesentium impedit ullam consequatur accusantium qui repellendus quis incidunt nesciunt, odit tempore ea soluta doloremque neque aliquam ex aspernatur, in fuga, quos. Ducimus commodi inventore corporis dolores.</p>
			<p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae, tempore ad. Saepe sed, delectus quidem omnis modi, officiis totam quae quisquam in quis fuga similique sit asperiores pariatur, atque aspernatur tempora sequi voluptatem nostrum laboriosam. Quis obcaecati debitis minima eius fugiat tempore, aliquid ipsum autem dolorem, assumenda inventore, nam totam dolor similique. In nostrum corrupti veritatis sapiente voluptates, quod, itaque dicta quisquam enim amet, eos sunt reprehenderit fuga quia temporibus? Eveniet atque labore praesentium impedit ullam consequatur accusantium qui repellendus quis incidunt nesciunt, odit tempore ea soluta doloremque neque aliquam ex aspernatur, in fuga, quos. Ducimus commodi inventore corporis dolores.</p>
			<p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae, tempore ad. Saepe sed, delectus quidem omnis modi, officiis totam quae quisquam in quis fuga similique sit asperiores pariatur, atque aspernatur tempora sequi voluptatem nostrum laboriosam. Quis obcaecati debitis minima eius fugiat tempore, aliquid ipsum autem dolorem, assumenda inventore, nam totam dolor similique. In nostrum corrupti veritatis sapiente voluptates, quod, itaque dicta quisquam enim amet, eos sunt reprehenderit fuga quia temporibus? Eveniet atque labore praesentium impedit ullam consequatur accusantium qui repellendus quis incidunt nesciunt, odit tempore ea soluta doloremque neque aliquam ex aspernatur, in fuga, quos. Ducimus commodi inventore corporis dolores.</p>
		</div>

		<div class="col-md-3 col-md-push-1 thum">
			<img src="http://lorempixel.com/300/500" class="thumnail">
		</div>

	</div>
</div>

<div id="Contactenos" class="jumbotron jumbotron-blue">
	<div class="row color-withe">
		<h2 class="text-center titulos">Contactenos</h2>
		<div class="col-md-6 col-md-push-3">
			<form>
				<div class="form-group">
					<label class="color-withe">Nombre</label>
					<input type="text" class="form-control">
				</div>
				<div class="form-group">
					<label class="color-withe">Correo</label>
					<input type="email" class="form-control">
				</div>
				<div class="form-group">
					<label class="color-withe">Telefono</label>
					<input type="number" class="form-control">
				</div>
				<div class="form-group">
					<label class="color-withe">Asunto</label>
					<textarea class="form-control"></textarea>
				</div>
				<button type="submit" class="btn btn-block btn-primary btn-especial">Enviar</button>
			</form>
		</div>

	</div>
</div>