<cargando ng-show="cargando"></cargando>
<section>
	<navegacion-login></navegacion-login>
<div class="jumbotron jumbotron-blue primer" id="Login">
	<div class="row">
		<div class="col-md-2">
			<h2 class="color-withe">SIGIOT</h2>
			<form ng-submit="userLogin()" novalidate autocomplete="off">
				<div class="form-group">
					<label class="color-withe">Correo</label>
					<input type="email" class="form-control" ng-model="login.correo" required>
				</div>
				<div class="form-group">
					<label class="color-withe">Contraseña</label>
					<input type="password" class="form-control" ng-model="login.contrasenaa" required>
				</div>
				<button type="submit" class="btn btn-block btn-primary btn-especial">INICIAR SESIÓN</button>
			</form>
		</div>
	</div>
</div>
<div id="Mision" class="jumbotron jumbotron-white">
	<div class="row">
		<h2 class="text-center titulos" data-aos="zoom-in-up">Mision</h2>
		<div class="col-md-7 col-md-push-1" data-aos="zoom-in-right">
			<p class="text-justify">La empresa  de GESTIÓN INTERNA OPERATIVA TURISTICA  “SIGIOT” tiene como finalidad la sistematización interna de los procesos operativos y administrativos de los prestadores de servicio turísticos afiliados a nuestra red sistematizada. Optimizando todos los procesos internos según las Normas establecidas de carácter nacional (NTS) de vital importancia para la Certificación de Calidad Turística por parte del Vice Ministerio de Turismo, otorgándoles una plataforma tecnológica “SIGIOT”, y  brindado un servicio técnico  con el fin de lograr la satisfacción de nuestros clientes.</p>
		</div>

		<div class="col-md-3 col-md-push-1 thum" data-aos="flip-up">
			<img src="http://lorempixel.com/300/500" class="thumnail">
		</div>

	</div>
</div>

<div id="Vision" class="jumbotron jumbotron-blue">
	<div class="row">
		<h2 class="text-center titulos" data-aos="zoom-in-up">Vision</h2>
		<div class="col-md-3 col-md-push-1 thum" data-aos="zoom-in-right">
			<img src="http://lorempixel.com/300/500" class="thumnail" height="400">
		</div>
		<div class="col-md-7 col-md-push-1" data-aos="zoom-in-left">
			<p class="text-justify">La visión de la empresa de GESTIÓN INTERNA OPERATIVA TURISTICA  “SIGIOT”  en su etapa de formación será Consolidarse a nivel nacional como una empresa de desarrollo tecnológico turístico capaz de integrar procesos administrativos y operativos.</p>
		</div>
	</div>
</div>

<div id="Objetivos" class="jumbotron jumbotron-white">
	<div class="row">
		<h2 class="text-center titulos" data-aos="zoom-in-up">Objetivos</h2>
		<div class="col-md-7 col-md-push-1" data-aos="zoom-in-right">
			<p class="text-justify">Fortalecer a las agencias de viajes por medio de la sistematización y optimización de los procesos operativos en base a las normas vigentes de actividades turísticas establecidas y reglamentadas por el vice misterio de turismo, enfocadas para un desarrollo social ambiental y económico del entorno natural donde se ejecuta y de las  comunidades circundantes a ella.</p>
			<h3 class="text-center titulos" data-aos="zoom-in-up">Objetivos especificos</h3>
			<p class="text-justify">
				-Empoderar a los  empresarios  turísticos de una plataforma web (Responsive) para la sistematización, control, organización dirección y planificación de todos los procesos operativos de las pequeñas y grandes agencias del país.
			</p>
			<p class="text-justify">
				-Establecer estándares de calidad en cada uno de los procesos operativos y administrativos de las agencias de viajes.
			</p>
		</div>

		<div class="col-md-3 col-md-push-1 thum" data-aos="zoom-in-left">
			<img src="http://lorempixel.com/300/500" class="thumnail">
		</div>

	</div>
</div>

<div id="Contactenos" class="jumbotron jumbotron-blue">
	<div class="row color-withe">
		<h2 class="text-center titulos" data-aos="zoom-in-up">Contactenos</h2>
		<div class="col-md-6 col-md-push-3" data-aos="zoom-out-up">
			<form>
				<div class="form-group">
					<label class="color-withe">Nombre</label>
					<input type="text" class="form-control">
				</div>
				<div class="form-group">
					<label class="color-withe">Correo</label>
					<input type="email" class="form-control">
				</div>
				<div class="form-group">
					<label class="color-withe">Telefono</label>
					<input type="number" class="form-control">
				</div>
				<div class="form-group">
					<label class="color-withe">Asunto</label>
					<textarea class="form-control"></textarea>
				</div>
				<button type="submit" class="btn btn-block btn-primary btn-especial">Enviar</button>
			</form>
		</div>

	</div>
</div>
</section>
