<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			 <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
		        <span class="sr-only">Desplegar/Ocultar Menu</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
			<a class="navbar-brand" href="#">
				Espacio del Logo
			</a>
		</div>
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="#">Inicio de Sesion</a></li>
				<li><a href="#">Mision</a></li>
				<li><a href="#">Vision</a></li>
				<li><a href="#">Objetivos</a></li>
				<li><a href="#">Contactenos</a></li>
			</ul>
		</div>
	</div>
</nav>