<nav class="container">
	<ul id="gn-menu" class="gn-menu-main">
		<li class="gn-trigger">
			<a  class="fa fa-bars" ng-click="sidenav()"></a>
			<nav class="gn-menu-wrapper gn-open-part {{ClickMenu}}">
				<div class="gn-scroller">
					<ul class="gn-menu">
						<li><a><i class="fa fa-address-book"></i>Perfil</a></li>
						<li><a><i class="fa fa-address-book"></i>Empresas</a></li>
						<li><a><i class="fa fa-address-book"></i>Sitios</a></li>
						<li><a><i class="fa fa-address-book"></i>Actividades</a></li>
						<li><a><i class="fa fa-address-book"></i>Usuarios</a></li>
						<li><a><i class="fa fa-address-book"></i>Inventario</a></li>
					</ul>
				</div>
			</nav>
		</li>
		<li><a href="http://tympanus.net/codrops">Paramo extremo</a></li>
		<li><a><i class="fa fa-address-book"></i><span class="hidden-xs">Salir</span></a></li>
	</ul>			
</nav>